:root {
  --color-grey: #343940;
  --color-greybg: #2b2f34;
  --color-lightgrey: #777;
  --color-red: #e6070a;
  --color-yellow: #ffd402;
  --color-white: #fff;
  --color-offwhite: #f1f1f1;
  --color-black: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  color: var(--color-lightgrey);
}

body {margin: 0;padding: 0; color: #5b5b5b; line-height: normal;  font-size: 18px; font-weight: 500; color: var(--color-grey);}
html{scroll-behavior: smooth;}
.container{max-width: min(1350px, 96%); margin: 0 auto;}
.sm-container{max-width: min(1070px, 96%); margin: 0 auto;} 
.xsm-container{max-width: min(950px, 96%); margin: 0 auto;}
.reset{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none; color: #6c6c6c; transition: all .3s linear;}
a:hover{color: var(--color-red);}
img{max-width: 100%; height: auto; display: inherit;}
/* h1, h2, h3, h4, h5, h6{margin: 0; font-family: 'Yeseva One', cursive; font-weight: 400;} */
h1, h2, h3, h4, h5, h6{margin: 0; font-weight: 600; color: var(--color-black);}
p{margin: 0;}
h1{font-size: 30px; font-weight: 700; line-height: normal; color: var(--color-black);}
.heading{font-size: 40px; font-weight: 600; line-height: 45px; letter-spacing: 0.5px; color: var(--color-black);}

.headersection{background: var(--color-greybg);}
.mainheader .container{display: flex; justify-content: space-between; align-items: center;}
.headersection ul{display: flex; flex-flow: row nowrap; gap: 30px; justify-content: end;}
.headersection ul li a{font-size: 14px; line-height: normal; font-weight: 600; color: var(--color-white); text-transform: uppercase;}
.headersection ul li a:hover{color: var(--color-red);}
.headersection .mainheader{padding: 0 0 5px; border-top: 1px solid var(--color-grey);}
.headersection .headertop{padding: 15px 0;}

/* LayOut css here */
.mainwrap{display: grid; grid-template-columns: auto 82dvw; gap: 20px;}
/* .listingsection{padding: 50px 0;} */

/* Button Css */
.btnsec a{display: inline-block; text-align: center; font-size: 16px; line-height: normal; font-weight: 500; text-transform: uppercase; color: var(--color-white); background: var(--color-red); border-radius: 50px; padding: 12px 30px; min-width: 180px; font-style: italic; box-sizing: border-box;}
.btnsec a:hover{background: var(--color-lightgrey);}

/* Breadcrumb Section */
.breadcrumbsec{padding: 20px; background: var(--color-offwhite); color: var(--color-black); box-shadow: 0 5px 12px rgba(158, 158, 158, .25); position: relative;}
.breadcrumbsec ul{display: flex; justify-content: start; gap: 20px;}
.breadcrumbsec ul li{position: relative; text-transform: capitalize;}
.breadcrumbsec ul li{font-size: 16px; line-height: normal; font-weight: 400;}
.breadcrumbsec ul li a{color: var(--color-red);}
.breadcrumbsec ul li a:hover{color: var(--color-yellow);}
.breadcrumbsec ul li:not(:first-child):before{content: "/"; position: absolute; left: -15px; top: 0; font-size: 16px; line-height: normal; font-weight: 600; color: var(--color-black);}

/* Swiper carousel */
/* .mySwiper .swiper-slide{padding: 200px 0;} */
.bannersec .bannercapion{width: min(440px, 100%); padding: 20px 20px 290px;}
.bannerslider .swiper-slide{background: url(/images/bannerSlider/banner-img-1.jpg) no-repeat center; background-size: cover;}
.bannerslider .swiper-slide.slide2{background: url(/images/bannerSlider/banner-img-2.jpg) no-repeat center; background-size: cover;}
.bannerslider .swiper-slide.slide3{background: url(/images/bannerSlider/banner-img-3.jpg) no-repeat center; background-size: cover;}
.bannerslider .swiper-slide.slide4{background: url(/images/bannerSlider/banner-img-4.jpg) no-repeat center; background-size: cover;}
.bannerslider .swiper-slide.slide5{background: url(/images/bannerSlider/banner-img-5.jpg) no-repeat center; background-size: cover;}
.bannerslider .swiper-slide.slide6{background: url(/images/bannerSlider/banner-img-6.jpg) no-repeat center; background-size: cover;}
.bannersec .bannercapion h3{font-size: 30px; line-height: 35px; font-weight: 700; color: var(--color-greybg); text-transform: uppercase; margin-bottom: 10px;}
.bannersec .bannercapion p{font-size: 17px; line-height: 22px; font-weight: 500; color: var(--color-greybg); font-style: italic;}
.bannersec .bannercapion p span{font-weight: 600; text-transform: uppercase;}
.bannersec .bannercapion h3 span{color: var(--color-red); display: block;}
.bannersec .bannercapion .btnsec{margin-top: 20px;}
.bannerslider .swiper-pagination{top: initial; bottom: 20%; display: flex; left: 50px;}
.bannerslider .swiper-pagination-bullet{ background: var(--color-greybg); padding: 0px 12px; border-radius: initial; box-sizing: border-box;  height: 4px;}
.bannerslider .swiper-pagination-bullet.swiper-pagination-bullet-active{background: var(--color-red);}

/* Product Section */
/* .pagebody{padding: 30px 0;} */
.productsection{padding: 40px 0;}
.productsection ul{display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px;}
.productsection ul li{border: 1px solid #ddd;}
.productsection ul li .imgbox img{aspect-ratio: 16/9; width: 100%; object-fit: cover;}
.productsection ul li .contentbox{padding: 15px; text-align: center;}
.productsection ul li .contentbox h3{min-height: 50px;}


/* Sidebar Section */
.sidebarsec{ background: var(--color-offwhite); padding: 30px 0px; display: flex; flex-flow: column wrap; gap: 300px;}
.sidebarsec h3{padding: 0 10px 5px; border-bottom: 1px solid var(--color-red); margin-bottom: 10px;}
.sidebarsec ul li a{display: block; font-size: 16px; line-height: normal; font-weight: 500; color: var(--color-greybg); background: var(--color-offwhite); padding: 10px; text-transform: capitalize;}
.sidebarsec ul li a:hover{background: var(--color-lightgrey); color: var(--color-white);}

.catheading{padding: 15px 20px; background: var(--color-greybg); margin: 20px 0 0;}
.catheading h2{font-size: 30px; line-height: normal; font-weight: 500; color: var(--color-white);}
.catheading h2 span{color: var(--color-red);}

/* Footer Section */
.footersection{padding: 70px 0; background: url(/images/footer-bg.jpg) no-repeat center; background-size: cover;}
.footersection .footerwrap{display: grid; grid-template-columns: repeat(4, 1fr); gap: 30px;}
.footersection .logosec{margin-bottom: 40px;}
.footersection .footerbox ul{display: flex; flex-flow: column wrap; gap: 20px;}
.footersection .footerbox ul li a, .footersection .footerbox p{display: inline-block; font-size: 14px; line-height: normal; font-weight: 500; text-transform: uppercase; color: var(--color-white); transition: transform .3s linear;}
.footersection .footerbox ul:not(.socialicons) li a:hover{color: var(--color-red); transform: translateX(10px);}
.footersection .footerbox ul.socialicons{flex-flow: row wrap;}
.footersection .footerbox p{margin-top: 20px;}

.pagenotfound{text-align: center;}
.pagenotfound .gifsection iframe{width: 80%;}